@tailwind base;
@tailwind components;
@tailwind utilities;

/*******************COULEURS*********************/

.couleurs-primaire {
    color: #0F1941;
}

.couleurs-fond-1 {
    background-color: #F3F8FF;
}

.couleurs-fond-2 {
    background-color: #FFB511;
}

.couleurs-fond-3 {
    background-color: #2175D9;
}

body {
    background-color: #F4F4F4;
}

/*******************FONT*********************/

@font-face {
    font-family: "GraphikRegular";
    src: local("GraphikRegular"),
        url("./fonts/graphik/GraphikRegular.otf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "GraphikMedium";
    src: local("GraphikMedium"),
        url("./fonts/graphik/GraphikMedium.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "GraphikSemibold";
    src: local("GraphikSemibold"),
        url("./fonts/graphik/GraphikSemibold.otf") format("truetype");
    font-weight: bold;
}